@model List<SadSchool.ViewModels.LessonViewModel>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <div class="container" style="max-width: 800px;">
            <div class="row" style="margin-top:30px">
                <div class="col-12 d-flex justify-content-center">
                    <a class="btn btn-sad btn-main-sad blinker-sad"
                       role="button"
                       style="display: flex; align-items: center; justify-content: center;"
                       asp-controller="Lesson" asp-action="AddLesson">Add Lesson</a>
                </div>
            </div>
            <div class="row justify-content-center" style="margin-top:30px">
                <div class="col-12 border border-dark scroll-sad" style="max-height: 420px; padding-top: 13px">
                    <table class="table table-bordered border-dark">
                        <thead>
                            <tr>
                                <th scope="col" class="h3-sad blinker-sad border-dark" style="width:100px">#</th>
                                <th scope="col" class="h3-sad blinker-sad border-dark">Starts</th>
                                <th scope="col" class="h3-sad blinker-sad border-dark">Subject</th>
                                <th scope="col" class="h3-sad blinker-sad border-dark">Class</th>
                                <th scope="col" class="h3-sad blinker-sad border-dark">Teacher</th>
                                <th scope="col" class="h3-sad blinker-sad border-dark">Date</th>
                                <th scope="col" class="h3-sad blinker-sad border-dark" style="width: 100px"></th>
                                <th scope="col" class="h3-sad blinker-sad border-dark" style="width: 100px"></th>
                            </tr>
                        </thead>
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            var lesson = Model[i];

                            <tr>
                                <td class="td-sad">
                                    <div class="blinker-sad">@lesson.Id</div>
                                </td>
                                <td class="td-sad">
                                    <div class="blinker-sad">@lesson.StartTimeValue</div>
                                </td>
                                <td class="td-sad">
                                    <div class="blinker-sad">@lesson.SubjectName</div>
                                </td>
                                <td class="td-sad">
                                    <div class="blinker-sad">@lesson.ClassName</div>
                                </td>
                                <td class="td-sad">
                                    <div class="blinker-sad">@lesson.TeacherName</div>
                                </td>
                                <td class="td-sad">
                                    <div class="blinker-sad">@lesson.Date</div>
                                </td>
                                <td class="td-sad">
                                    <div class="d-flex justify-content-center">
                                        <a class="btn btn-sad btn-service-sad blinker-sad"
                                           role="button"
                                           style="display: flex; align-items: center; justify-content: center;"
                                           asp-controller="Lesson" asp-action="EditLesson" asp-route-id="@lesson.Id">Edit</a>
                                    </div>
                                </td>
                                <td class="td-sad">
                                    <form asp-action="DeleteLesson" asp-route-id="@lesson.Id" asp-controller="Lesson" method="post">
                                        <div class="d-flex justify-content-center">
                                            <button type="submit" class="btn btn-sad btn-service-sad blinker-danger-sad">
                                                Delete
                                            </button>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>