@model List<SadSchool.ViewModels.MarkViewModel>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <div class="container" style="max-width: 800px;">
            @if (!User.IsInRole("user"))
            {
                <div class="row" style="margin-top:30px">
                    <div class="col-12 d-flex justify-content-center">
                        <a class="btn btn-sad btn-main-sad blinker-sad"
                           role="button"
                           style="display: flex; align-items: center; justify-content: center;"
                           asp-controller="Mark" asp-action="Add">Add Mark</a>
                    </div>
                </div>
            }
            <div class="row justify-content-center" style="margin-top:30px">
                <div class="col-12 border border-dark scroll-sad" style="max-height: 420px; padding-top: 13px">
                    <table class="table table-bordered border-dark">
                        <thead>
                            <tr>
                                <th scope="col" class="h3-sad blinker-sad border-dark" style="width:100px">#</th>
                                <th scope="col" class="h3-sad blinker-sad border-dark">Value</th>
                                <th scope="col" class="h3-sad blinker-sad border-dark">Student</th>
                                <th scope="col" class="h3-sad blinker-sad border-dark">Lesson</th>
                                @if (!User.IsInRole("user"))
                                {
                                    <th scope="col" class="h3-sad blinker-sad border-dark" style="width: 100px"></th>
                                    <th scope="col" class="h3-sad blinker-sad border-dark" style="width: 100px"></th>
                                }
                            </tr>
                        </thead>
                        @foreach(var mark in Model)
                        {
                            <tr>
                                <td class="td-sad">
                                    <div class="blinker-sad">@mark.Id.ToString()</div>
                                </td>
                                <td class="td-sad">
                                    <div class="blinker-sad">@mark.Value</div>
                                </td>
                                <td class="td-sad">
                                    <div class="blinker-sad">@mark.Student</div>
                                </td>
                                <td class="td-sad">
                                    <div class="blinker-sad">@mark.Lesson</div>
                                </td>
                                @if (!User.IsInRole("user"))
                                {
                                    <td class="td-sad">
                                        <div class="d-flex justify-content-center">
                                            <a class="btn btn-sad btn-service-sad blinker-sad"
                                            role="button"
                                            style="display: flex; align-items: center; justify-content: center;"
                                            asp-controller="Mark" asp-action="Edit" asp-route-id="@mark.Id">Edit</a>
                                        </div>
                                    </td>
                                    <td class="td-sad">
                                        <form asp-action="Delete" asp-route-id="@mark.Id" asp-controller="Mark" method="post">
                                            <div class="d-flex justify-content-center">
                                                <button type="submit" class="btn btn-sad btn-service-sad blinker-danger-sad">
                                                    Delete
                                                </button>
                                            </div>
                                        </form>
                                    </td>
                                }
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>